<div id="payment">
  <span class="payment-errors"></span>
  <div class="fieldset">
    <!-- Credit Cards -->
    <div class="field">
      <label class="label--full-width">
          Credit card
      </label>
      <ul class="field__icon payment-methods">
        <li data-payment-icon="generic" class="payment-method generic selected">Credit Card</li>
        <li data-payment-icon="visa" class="payment-method visa">Visa</li>
        <li data-payment-icon="master" class="payment-method master">MasterCard</li>
        <li data-payment-icon="american-express" class="payment-method american-express">American Express</li>
        <li data-payment-icon="discover" class="payment-method discover">Discover</li>
        <li data-payment-icon="jcb" class="payment-method jcb">JCB</li>
        <li data-payment-icon="diners-club" class="payment-method diners-club">Diners Club</li>
      </ul>
    </div>
    <!-- Credit Card info -->
    <div class="field-group field-group--has-subfields">
      <div class="field field--required">
        <label>Card number</label>
        <input type="tel" placeholder="Card number" data-stripe="number" size="30">
        <i class="field__icon icon icon--lock-dark has-tooltip">
          <span class="tooltip tooltip--right-on-mobile">All transactions are secure and encrypted. Credit card information is never stored.</span>
        </i>
      </div>
      <div class="field field--required">
        <label>Expiry</label>
          <div class="select-group">
            <select data-stripe="exp_month">
              <option value="1">01</option>
              <option value="2">02</option>
              <option value="3">03</option>
              <option value="4">04</option>
              <option value="5">05</option>
              <option value="6">06</option>
              <option value="7">07</option>
              <option value="8">08</option>
              <option value="9">09</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
            </select>
            <select data-stripe="exp_year">
              <% (Time.now.year..(Time.now.year + 10)).each do |y| %>
                <option value="<%= y %>"><%= y %></option>
              <% end %>
            </select>
          </div>
        </div>

        <div class="field field--required">
          <label>
            CVV
            <i class="icon icon--info has-tooltip">
              <span class="tooltip tooltip--left-on-mobile">
                3-digit security code usually found on the back of your card. American Express cards have a 4-digit code located on the front.
              </span>
            </i>
          </label>
          <input data-stripe="cvc" type="tel" placeholder="CVV" maxlength="4" size="30">
      </div>
    </div>
  </div>
  <!-- Billing Info -->
  <h5>Billing address</h5>
  <div class="fieldset fieldset--billing-address">
    <div class="field-group field-group--has-subfields">
      <div class="field field--required">
        <%= label_tag :address, "Address" %>
        <%= text_field_tag :address, nil, { :placeholder => "Address" } %>
      </div>
      <div class="field field--required">
        <%= label_tag :city, "City" %>
        <%= text_field_tag :city, nil, { :placeholder => "City" } %>
      </div>
      <div class="field field--required">
        <%= label_tag :country, "Country" %>
        <%= select_tag :country, "#{render :partial => 'shared/country_options'}".html_safe %>
      </div>
      <div class="field field--required">
        <%= label_tag :state, "State / Province" %>
        <%= text_field_tag :state, nil, { :placeholder => "State / Province" } %>
      </div>
      <div class="field field--required">
        <%= label_tag :postal_code, "ZIP / Postal code" %>
        <%= text_field_tag :postal_code, nil, { :placeholder => "ZIP / Postal code" } %>
      </div>
    </div>
  </div>
  <div class="call-to-action call-to-action--final">
    <input type="submit" name="complete" value="Add Credit Card" class="btn btn--primary main-btn submit" data-submit-payment="true">
  </div>
</div>
