<div class="col-sm-3 sidebar">
  <nav class="sidebar-nav">
    <div class="collapse nav-toggleable-sm" id="nav-toggleable-sm">
      <ul class="nav nav-pills nav-stacked">
        <li class="nav-header">Dashboard</li>
        <li class="<%= partial == 'main' ? 'active' : '' %>">
          <%= link_to "Dashboard", dashboard_path, :class => 'menu-item' %>
        </li>
        <li class="<%= partial == 'orders' ? 'active' : '' %>">
          <%= link_to "Payments", dashboard_orders_path, :class => 'menu-item' %>
        </li>
        <li class="<%= partial == 'subscriptions' ? 'active' : '' %>">
          <%= link_to "Subscriptions", dashboard_subscriptions_path, :class => 'menu-item' %>
        </li>
        <% if current_user.clique %>
          <li class="<%= partial == 'subscribers' ? 'active' : '' %>">
            <%= link_to "Subscribers", dashboard_subscribers_path, :class => 'menu-item' %>
          </li>
        <% end %>
        <li class="<%= partial == 'account' ? 'active' : '' %>">
          <%= link_to "Account", dashboard_account_path, :class => 'menu-item' %>
        </li>
      </ul>
      <hr class="visible-xs m-t">
    </div>
  </nav>
</div>
