<div class="dashboard">
  <div class="container">
    <div class="row">
      <%= render :partial => "side_bar", :locals => { :partial => "main" } %>

      <div class="col-sm-9 content">
        <div class="dashhead">
          <div class="dashhead-titles">
            <h6 class="dashhead-subtitle">Dashboards</h6>
            <h2 class="dashhead-title">Overview</h2>
          </div>
          <div class="btn-group btn-group-xs date-select" role="group" aria-label="...">
            <%= link_to "Today", dashboard_daily_path, :class => "btn btn-default", :method => :get %>
            <%= link_to "Month", dashboard_monthly_path, :class => "btn btn-default", :method => :get %>
            <%= link_to "Year", dashboard_path, :class => "btn btn-default", :method => :get %>
          </div>
        </div>

        <!-- Header for Stats -->
        <%= render :partial => @partial %>
        <%= render :partial => "stats" %>

        <hr class="m-t">
        <div class="row">
          <div class="col-md-6 m-b-md">
            <div class="list-group">
              <h4 class="list-group-header">
                Cliq Leaderboard
              </h4>
              <% @top_cliques.each do |cliq| %>
                <%= link_to cliq.owner, :class => "list-group-item" do %>
                  <span class="list-group-progress" style="width: 62.4%;"></span>
                  <span class="pull-right text-muted"><%= cliq.subscription_count %></span>
                  <%= cliq.name %>
                <% end %>
              <% end %>
            </div>
          </div>

          <div class="col-md-6 m-b-md">
            <div class="list-group">
              <h4 class="list-group-header">
                Top Tracks
              </h4>
              <% @top_tracks.each do |track| %>
                <%= link_to track, :class => "list-group-item" do %>
                  <span class="pull-right text-muted"><%= track.favourites_count %> Likes</span>
                  <%= track.name %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  // execute/clear BS loaders for docs
  $(function(){while(window.BS&&window.BS.loader&&window.BS.loader.length){(window.BS.loader.pop())()}})
</script>
