<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <%= link_to "New Message", new_message_path, :remote => true, :class => "btn btn-sm btn-primary pull-right app-new-msg js-newMsg" %>
        <h4 class="modal-title">Messages</h4>
      </div>

      <div class="modal-body p-a-0 js-modalBody message-Box-body">
        <div class="modal-body-scroller">
        <% @conversations.each do |conversation| %>
          <div class="media-list media-list-users list-group js-msgGroup">
          	<%= link_to conversation,:class => "list-group-item", :remote => true do %>
              <div class="media">
                <span class="media-left">
                <%= image_tag(conversation.image_url(current_user), class: "img-circle media-object")  %>
                </span>
                <div class="media-body">
                  <strong><%= conversation.get_name current_user %></strong> <p class="modal-time-ago-text"><%= time_ago_in_words conversation.messages.first.created_at %> ago </p>
                  <div class="media-body-secondary">
                    <%= simple_format conversation.messages.first.content, :class => "message-preview" %>
                  </div>
                </div>
              </div>
            <% end %>            
          </div>
<% end %>

