          <% if message.creator == current_user %>
              <li class="media media-current-user m-b-md">
                <div class="media-body">
                  <div class="media-body-text">
                    <%= message.content %>
                  </div>
                  <div class="media-footer">
                    <small class="text-muted">
                      <a href="#"> Username</a> <%= time_ago_in_words message.created_at %>
                    </small>
                  </div>
                </div>
                <a class="media-right" href="#">
                  <%= image_tag message.creator.profile_picture_url, class: "img-circle media-object" %>
                </a>
              </li>

          <% else %>
              <li class="media m-b-md">
                <a class="media-left" href="#">
                  <%= image_tag message.creator.profile_picture_url, class: "img-circle media-object" %>
                </a>
                <div class="media-body">
                  <div class="media-body-text">
                   <%= message.content %>
                  </div>
                  <div class="media-footer">
                    <small class="text-muted">
                      <a href="#"></a> <%= time_ago_in_words message.created_at %>
                    </small>
                  </div>
                </div>
              </li>
          <% end %>