<h3>New Message</h3>
<%= form_for @message, :remote => true do |f| %>
	<%= label_tag :username %>
	<%= text_field_tag :username, params[:username] %><br>
	<%= f.label :content %>
	<%= f.text_area :content %><br>
	<%= f.submit "Send" %>
<% end %>
