<%= form_for @message, :remote => true do |f| %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <p>
        <%= link_to "", messages_path, :remote => true, :class => "fa fa-angle-left fa-1x floatleft" %> 	
	 	New Message
	 	</p>

	 		<% if @user %>
	 		<%= text_field_tag :username, params[:username], :value => @user.username, class: "form-control"  %>
	 		<% else %>
			<%= text_field_tag :username, params[:username], class: "form-control"  %>
		<% end %>
	 	</div>
	 	<div class="modal-body">
	 		<%= f.text_area :content , class: "form-control" %>
	 	</div>
    	</div>
<% end %>