<ul class="list-group">
  <% track.comments.reverse_each do |c| %>
    <% if !c.removed %>
      <div class="text-Post">
        <div class="text-userPic">
          <img src="<%= c.creator.profile_picture_url %>">
        </div>
        <div class="commentSection-name">
          <div class="comment-time"><%= time_ago_in_words c.created_at %>        <%= button_to track_comment_delete_path(c), :remote => true, :class => "player1-btn2", data: { confirm: 'Are you certain you want to delete this?' } do %>
          <div class="glyphicon glyphicon-trash"></div>
        <% end %></div>
          <%= link_to c.creator.name, c.creator %>
        </div>
        <div class="commentSection-comment">
          <%= simple_format c.content %>
        </div>

      </div>
    <% end %>
  <% end %>
</u1>
