<div class="buffer">
  <h1>Explore</h1>
<% @tracks.each do |track| %>
  <p style="float:left;margin-left: 50px;clear:left;"><%= track.song.original_filename %> by </p><%= link_to track.owner.name, track.owner, class:"ownerlink" %>
  <%= link_to 'Play', track.song.url, class:"playa", 'data-skip-pjax' => true %>
  <!-- Follow and Join Clique buttons -->
  <% if track.owner == current_user %>
    <%= link_to "Delete", track, method: :delete, data: { confirm: 'Are you certain you want to delete this?' } %>
  <% end %>
  <% if !(is_following track.owner) && track.owner != current_user %>
    <%= button_to "Follow", user_follow_path(track.owner), :remote => true %>
  <% end %>
  <% if track.owner.clique && !(current_user.cliques.include? track.owner.clique) \
    && track.owner != current_user %>
    <%= button_to "Join Clique", cliq_join_path(track.owner.clique), :remote => true %>
  <% end %>
<% end %>
<script>
/*var oldSound = null;
$('a.playa').click(function(e) {
  e.preventDefault();
  //alert("here121212");
  var songUrl = this.href;
  if(oldSound != null){
    oldSound.stop();
  }
  var mySound = soundManager.createSound({
    url: songUrl
  });
  mySound.play();
  oldSound = mySound;
});*/
</script>
