<div class="modal-track-Top">
  <div class="model-track-background">
   <%= image_tag @track.get_pic_url %>
  </div>
  <div class="modal-track-Genre">
    <%= time_ago_in_words @track.created_at %>
  </div>
</div>
<div class="player1-Section2">
  <div class="player1-Section2-Middle">
    <div class="player1-Name">
      <!-- <div class="player1-play">
        <div class="playa" song="<%= @track.song.url%>" image="<%= @track.pic.url%>" artist="<%= @track.owner.name %>" name="<%= @track.name %>">
          <div class="play-Btn">
            <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
          </div>
        </div>
      </div> -->
    </div>
    <div class="player1-left-btn">
      <div class="player1-artist2">
        <%= link_to @track.owner.name, @track.owner, :class => "modalClosable" %>
      </div>
      <div class="player1-songName2">
        <%= link_to @track.name, @track, :class => "modalClosable" %>
      </div>
    </div>
    <div class="player1-right-btn">
    </div>
  </div>
</div>
<!-- Comments -->
<%= render :partial => 'comments/comment_form', :locals => { :commentable => @track } %>
<div id="<%= comment_form_id (@track) %>" class="modal-post-commentBox">
  <%= render :partial => 'comments/comments_list', :locals => { :commentable => @track } %>
</div>
