<!-- Creator Profile -->
<div class="rightCol-singleSong">
  <div class="song-Description">
    <div class="rightCol-profileAvi">
      <img src="<%= @track.owner.profile_picture_url %>">
    </div>
    <div class="rightCol-profileName">
      <div class="profileName-Artist">
        <%= @track.owner.name %>
      </div>
      <% if current_user %>
        <% if is_following @user %>
          <%= button_to "Unfollow", user_unfollow_path(@track.owner), :remote => true, :class => "button btn btn-info btn-lg btn-primary btn track-btn"  %>
        <% else %>
          <%= button_to "Follow", user_follow_path(@track.owner), :remote => true, :class => "button btn btn-info btn-lg btn-primary btn track-btn"  %>
        <% end %>
      <% end %>
    </div>
    <div class="rightCol-Filter">
      <%= @track.owner.bio %>
    </div>
  </div>
  <!-- Other Songs -->
  <% if @more.count > 0 %>
    <div class="rightCol-Filter">
      <div class="rightCol-Filter-Title">
        <div class="rightCol-Filter-Title-Name">
         	<span aria-hidden="true" class="glyphicon glyphicon-heart"></span> More tracks
        </div>
        <div class="rightCol-Filter-Title-Stat">
          <%= link_to "See more", @track.owner %>
        </div>
      </div>
    </div>
    <% @more.each do |m| %>
      <div class="rightCol-Filter-Profile">
          <div class="rightCol-Profile-Avi text-userPic">
            <%= image_tag m.get_pic_url %>
          </div>
          <div class="rightCol-Profile-Bar">
            <div class="rightCol-Profile-Name">
              <%= link_to @track.owner.name,  @track.owner  %>
            </div>
            <div class="rightCol-Followers">
              <%= link_to m.name, m %>
            </div>
          </div>

          <%= link_to m do %>
            <div class="rightCol-Profile-Follow">
              View
            </div>
          <% end %>
      </div>
    <% end %>
  <% end %>
</div>
