<li class="media list-group-item p-a post-modal" data-toggle="modal" data-target="#track-modal<%= track.id %>">
  <a class="media-left" href="#">
    <img
      class="media-object img-circle"
      src="<%= track.owner.profile_picture_url %>">
  </a>
  <div class="media-body">
    <div class="media-heading">
      <small class="pull-right text-muted"><span class="glyphicon glyphicon-play glyphicon-small" aria-hidden="true"></span> 10K •  <span class="glyphicon glyphicon-heart glyphicon-small" aria-hidden="true"></span> 40 </small>
      <h5><%= link_to track.owner.name, track.owner %> <small>• <%= time_ago_in_words track.created_at %> </small></h5>
    </div>

    <div class="media-body-inline-grid" data-grid="images">
      <div class="post-track" style="background-image: url(<%= track.get_pic_url %>);">
        <div class="track-progress-box hide">
          <div class="track-progress"></div>
        </div>




        <div class="player1-Name">
      <div class="player1-play">
        <div class="playa" song="<%=track.song.url%>" image="<%= track.get_pic_url %>" artist="<%= track.owner.name%>" name="<%=track.name%>" trackLink="<%=track_path(track)%>" ownerLink="<%=user_path(track.owner)%>">
          <div class="play-Btn">
            <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
          </div>
        </div>
      </div>
    </div>

      <!--<div class="player1-left-btn">
        <div class="player1-artist">
          <%= link_to track.owner.name, track.owner %>
        </div>
      </div>-->


    <div class="player1-left-btn2">
      <div class="player1-songName">
        <%= link_to track.name, track %>
      </div>
    </div>

        

      </div>
    </div>
  </div>
</li>




<!-- Modal -->
<div class="modal fade" id="track-modal<%= track.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-track-Top">
        <div class="model-track-background">
         <%= image_tag track.get_pic_url %>
        </div>
        <div class="modal-track-Genre">
          <%= time_ago_in_words track.created_at %>
        </div>
      </div>
      <div class="player1-Section2">
        <div class="player1-Section2-Middle">
          <div class="player1-Name">
            <div class="player1-play">
              <div class="playa" song="<%=track.song.url%>" image="<%= track.pic.url%>" artist="<%= track.owner.name%>" name="<%=track.name%>">
                <div class="play-Btn">
                  <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="player1-left-btn">
            <div class="player1-artist2">
              <%= link_to track.owner.name, track.owner, :class => "modalClosable" %>
            </div>
            <div class="player1-songName2">
              <%= link_to track.name, track, :class => "modalClosable" %>
            </div>
          </div>
          <div class="player1-right-btn">
          </div>
        </div>
      </div>
      <!-- Comments -->
      <%= render :partial => 'tracks/comment_form', :locals => { :track => track } %>
      <div id="track-comments<%= track.id %>" class="modal-post-commentBox">
        <%= render :partial => 'tracks/comments', :locals => { :track => track } %>
      </div>
    </div>
  </div>
</div>


<script>
$(document).ready(function(){


    $('.post-track').click(function(e) {
        e.stopPropagation();
    });

    $('.commentSection-name').click(function(e) {
        e.stopPropagation();
    });

  $(".post-track").click(function(){
    $(".post-track").each(function(){
      $(this).removeClass("expand-post-track");
      $('.track-progress-box').addClass("hide", 400); 
    });
    $(this).addClass("expand-post-track");
  });
});
</script>