<div class="textpost-Box">
  <div class="textpost">
    <div class="text-Post">
      <div class="text-userPic">
        <img src="<%= track.owner.profile_picture_url %>">
      </div>

      <div class="commentSection-name">
        <%= link_to track.owner.name, track.owner %> 
      </div>
      
      <div class="player1-time">
        • <%= time_ago_in_words track.created_at %>
      </div>

      <div class="post-Content">
        <div class="post-track">
          <div class="player1-Name">
        <div class="player1-play">
          <div class="playa" song="<%=track.song.url%>" image="<%= track.get_pic_url %>" artist="<%= track.owner.name%>" name="<%=track.name%>" trackLink="<%=track_path(track)%>" ownerLink="<%=user_path(track.owner)%>">
            <div class="play-Btn">
              <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
            </div>
          </div>
        </div>
      </div>


      <div class="player1-left-btn">
        <div class="player1-artist">
          <%= link_to track.owner.name, track.owner %>
        </div>
        <div class="player1-songName">
          <%= link_to track.name, track %>
        </div>
      </div>
          <%= image_tag track.get_pic_url %>
        </div>
      </div>




    </div>
</div>
</div>





