<div class="container p-t-md">
  <div class="show-track-box">
    <div class="show-media">
      <%= image_tag @track.get_pic_url %>
    </div>
    <div class="show-right-col">
      <div class="show-right-col-top">
        <%= link_to @track.owner, :class => "media-left pull-left" do %>
          <%= image_tag @track.owner.profile_picture_url, :class => "media-object img-circle profile-img" %>
        <% end %>
        <h5><%= link_to @track.owner.name, @track.owner %></h5>
        <%= @track.name %>
      </div>
      <div id="<%= comment_form_id @track %>-show" class="show-right-col-middle">
        <%= render :partial => "show_comments", :locals => { :track => @track } %>
      </div>
      <div class="show-right-col-bottom">
        <%= render :partial => 'comments/comment_form', :locals => { :commentable => @track } %>
      </div>
    </div>
  </div>
</div>
