

-if signed_in?
	= render 'currentusertop'
	= render "layouts/bottomaudio"
	.page-Bottom2
		= render "layouts/pinsmasonry"
		.container2
			.rightCol-Index
				= render "layouts/likes"
				= render "layouts/likes"


-else
	= render 'defaultnav'
	.homepage-header
		.homepage-header-title
			Find the music you love.
		.homepage-header-subtitle
			Connect directly with your favourite artists.
		= link_to "Create acccount" , new_user_registration_path, class: "button btn primary-background"

	.page-Bottom
		= render "layouts/pinsmasonry"

= render "layouts/footer"