
= render 'currentusertop'
= render 'currentprofileheader'

#pins.transitions-enable
  - @pins.each do |pin|
    .box.panel.panel-default
      .pin-image
        = link_to (image_tag pin.image.url), pin
      .panel-footer2
        .panel-footer-CenterCol
          %h2= link_to pin.name, pin
          .panel-footer-divider
          = link_to pin, class: "ruby" do
            %button.pricebtn.btn #{number_to_currency(pin.price)}
          = link_to pin, class: "ruby" do
            %button.btn Edit