<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
<h1>Sign In with Email</h1>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <!-- Form Fields -->
  <%= f.email_field :email, placeholder: "Email" %>
  <%= f.password_field :password, placeholder: "Password" %>
  <%= f.label :remember_me, class: "center-block" do %>
    <div id="remember-me">Remember Me</div>
    <%= f.check_box :remember_me %>
  <% end %>
  <%= button_tag "Log In", type: 'submit' %>
<% end %>
<br>
<%= link_to "Forgot Password", "/users/password/new", :method => :get, class: "login-link" %>
<%= link_to "Sign Up", "/users/sign_up",  class: "link_to", :method => :get, class: "login-link" %>
<%= link_to "Resend Confirmation Email", "/users/confirmation/new", :method => :get, class: "login-link" %>
