<div class="container p-t-md">
  <div class="col-md-6">
    <ul class="list-group media-list media-list-stream">
      <li class="list-group-item p-a">
        <h3 class="m-a-0">Notifications</h3>
      </li>
      <% @notifications.each do |n| %>
          <% if n.notifiable.is_a? Comment %>
            <li class="list-group-item media p-a">
              <%= render :partial => "comment", :locals => { :notification => n } %>
            </li>
          <% elsif n.notifiable.is_a? Favourite %>
            <li class="list-group-item media p-a">
              <%= render :partial => "favourite", :locals => { :notification => n } %>
            </li>
          <% elsif n.notifiable.is_a? Follow %>
            <li class="list-group-item media p-a">
              <%= render :partial => "follow", :locals => { :notification => n } %>
            </li>
          <% elsif n.notifiable.is_a? Cliq %>
            <li class="list-group-item media p-a">
              <%= render :partial => "join_cliq", :locals => { :notification => n } %>
            </li>
          <% elsif n.notifiable.is_a? Mention %>
            <li class="list-group-item media p-a">
              <%= render :partial => "mention", :locals => { :notification => n } %>
            </li>
          <% elsif n.notifiable.is_a? Repost %>
            <li class="list-group-item media p-a">
              <%= render :partial => "repost", :locals => { :notification => n } %>
            </li>
          <% elsif n.notifiable.is_a? Retrack %>
            <li class="list-group-item media p-a">
              <%= render :partial => "retrack", :locals => { :notification => n } %>
            </li>
          <% end %>
      <% end %>
    </ul>
  </div>
</div>

<!-- TODO: Make this better -->
<script>
$("#notification-count").html("<%= j render :partial => 'shared/notification_count' %>")
</script>
