.user-header
  .user-coverpicture
    
  .user-middleCol
    .centerCol
      .user-picture
        = image_tag @user.profile_picture
      .profile-page-name
        = @user.username
      .profile-page-description
        = @user.bio

  .user-divider
  .user-bottomCol
    .centerCol
      .user-bottomCol-social
        .user-bottomCol-social-tab
          = link_to "#{@user.website}", target: "_blank" do
            %i.fa.fa-globe.fa-lg 
        .user-bottomCol-social-tab
          = link_to "#{@user.twitter}", target: "_blank" do
            %i.fa.fa-twitter.fa-lg
        .user-bottomCol-social-tab
          = link_to "#{@user.facebook}", target: "_blank" do
            %i.fa.fa-facebook-square.fa-lg
          
      .user-bottomCol-section
        = link_to "Products", root_path, class: "user-bottomCol-tab"
