<h1>Tracks</h1>
DEBUG:<%= debug %>
<%= user == nil %>
<%= songs == nil %>
<% if songs %>
  <% songs.each do |s| %>
    <%= s.song.original_filename %><br>
    <div class="track-thumbnail"><%= audio_tag s.song.url, controls: true %></div>
  <% end %>
<% end %>
