<div class="buffer">
  <h1>User Profile</h1>
  <%= button_to "All Posts", user_posts_path(@user), :method => :get, :remote => true %>
  <%= button_to "Tracks", user_songs_path(@user), :method => :get, :remote => true %>
  <%= button_to "Reposts", user_reposts_path(@user), :method => :get, :remote => true %>
  <% if @user == current_user %>
    <%= button_to "Followers", user_followers_path(@user), :method => :get, :remote => true %>
    <%= button_to "Following", user_following_path(@user), :method => :get, :remote => true %>
  <% end %>
  <% if @user.clique && (@user == current_user || @user.clique.members.include?(current_user)) %>
    <%= button_to "Clique", user_clique_path(@user), :method => :get %>
  <% end %>
  <div id="content" class="col-sm-9">
    <%= render :partial => "posts", :locals => { songs: @songs } %>
  </div>
  <div class="col-sm-3">
    <%= render :partial => "profile_right", :locals => { user: @user } %>
  </div>
</div>
