<div class="buffer">
  <!-- Header -->
  <h1><%= @user.first_name %>'s Profile</h1>
  <img src="<%= @user.cover_picture_url %>" height="300" />
  <img src="<%= @user.profile_picture_url %>"  height="150" /> <br><br>
  <!-- Buttons -->
  <div id="buttons" class="row">
    <%= render :partial => "/users/partials/buttons", :locals => { user: @user } %>
  </div>
  <!-- Post Form if own profile -->
  <% if @user == current_user %>
    <div id="post_form" class="col-sm-8 col-sm-offset-2">
      <%= render :partial => "/users/partials/post_form", :locals => { post: @post } %>
    </div>
  <% end %>
  <!-- Content -->
  <div id="content" class="col-sm-9">
    <%= render :partial => "/users/partials/posts", :locals => { posts: @posts } %>
  </div>
  <!-- Right info bar -->
  <div class="col-sm-3">
    <%= render :partial => "/users/partials/profile_right", :locals => { user: @user } %>
  </div>
</div>
