
= render 'pins/currentusertop'
= render 'profileheader'
= render "layouts/bottomaudio"

.profile-bottom
  .container2
    .rightCol2
      .rightBlock
        .rightCol-Filter-Title
          .rightCol-Filter-Title-Name
            About
          .rightCol-Filter-Title-Stat
        .rightBlock-Body
          Flow-Fi was founded in 2014 following a series of football tweets and an appreciation for whats good in Hip Hop.
      = render 'layouts/likes'


    .leftCol
      = render 'player'
      = render 'player'
      = render 'player'
      = render 'player'
      = render 'player'
      
= render "layouts/footer"