= render 'usertop'
= render 'profileheader'

#pins.transitions-enable
  - @user.pins.each do |pin|
    .box.panel.panel-default
      .pin-image
        / Audio Player HTML
        #uniquePlayer-1.webPlayer.light
          #uniqueContainer-1.videoPlayer
        :javascript
          $(document).ready(function() {

            $('.webPlayer').videoPlayer({
              name: '#{pin.mp3.name}',
              media: {
                mp3: '#{pin.mp3.url}',
              },

              size: {
                width: '300px',
              },

              // These go directly to jPlayer object, allowing you to rewrite any player setting
              loadstart: function() {
                alert('Video loading started!');
              }

            });

          });
        / end Audio Player HTML
      .panel-footer.panel-footer2
        .panel-footer-CenterCol
          %h2= link_to pin.name, new_order_path(pin_id: pin.id)
          .panel-footer-divider
          = link_to new_order_path(pin_id: pin.id), class: "ruby" do
            %button.pricebtn.btn #{number_to_currency(pin.price)}
          = link_to new_order_path(pin_id: pin.id), class: "ruby" do
            %button.btn Buy Now