<div class="buffer">
  <!-- Header -->
  <h1><%= @user.first_name %>'s Profile</h1>
  <img src="<%= @user.cover_picture_url %>" height="300" />
  <img src="<%= @user.profile_picture_url %>"  height="150" /> <br><br>
  <!-- Buttons -->
  <div id="buttons" class="col-sm-9">
    <%= render :partial => "buttons", :locals => { user: @user } %>
  </div>
  <!-- Content -->
  <div id="content" class="col-sm-9">
    <%= render :partial => "posts", :locals => { songs: @songs } %>
  </div>
  <!-- Right info bar -->
  <div class="col-sm-3">
    <%= render :partial => "profile_right", :locals => { user: @user } %>
  </div>
</div>
