<div class="col-md-4">
  <div class="panel panel-default panel-profile">
    <div class="panel-heading"
         style="background-image: url(<%= artist.cover_picture_url %>);"></div>
    <div class="panel-body text-center">
      <%= link_to artist do %>
        <img class="panel-profile-img" src="<%= artist.profile_picture_url %>">
        <h5 class="panel-title"><%= artist.name %></h5>
        <p class="m-b-md"><%= artist.bio %></p>
      <% end %>
      <% if current_user %>
        <%= button_to user_follow_path (artist), :class => "btn btn-primary-outline btn-sm", :method => :get do %>
          <i class="fa fa-user-plus" aria-hidden="true"></i> Follow
        <% end %>
      <% end %>
    </div>
  </div>
</div>
