<div class="col-md-4">
  <%= link_to artist do %>
    <div class="panel panel-default panel-profile">
      <div class="panel-heading"
           style="background-image: url(<%= artist.cover_picture_url %>);"></div>
      <div class="panel-body text-center">
        <img class="panel-profile-img" src="<%= artist.profile_picture_url %>">
        <h5 class="panel-title"><%= artist.name %></h5>
        <p class="m-b-md"><%= artist.bio %></p>
        <% if current_user && current_user != artist %>
          <%= button_to user_follow_path(artist), :remote => true, :class => "btn btn-primary-outline btn-sm stop-propagation" do %>
            <% if is_following artist %>
              <i class="fa fa-user-plus" aria-hidden="true"></i>Following
            <% else %>
              <i class="fa fa-user-plus" aria-hidden="true"></i>Follow
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
