<!-- Top Artists -->
<div class="rightCol-Filter">
  <div class="rightCol-Filter-Title">
    <div class="rightCol-Filter-Title-Name">
      <span aria-hidden="true" class="glyphicon glyphicon-heart"></span>
     	Top Artists
    </div>
    <div class="rightCol-Filter-Title-Stat">
      <%= link_to "See more", explore_path %>
    </div>
  </div>
  <% @top.each do |t| %>
    <div class="rightCol-Filter-Profile">
      <%= link_to t do %>
        <div class="rightCol-Profile-Avi text-userPic">
          <%= image_tag t.profile_picture_url %>
        </div>
        <div class="rightCol-Profile-Bar">
          <div class="rightCol-Profile-Name">
            <%= t.name %>
          </div>
          <div class="rightCol-Followers">
            <i class="fa fa-user-plus"></i>
            <%= t.followers.count %>
          </div>
        </div>
      <% end %>
      <% if current_user %>
        <%= link_to user_follow_path(t), :remote => true, :method => :post do %>
          <div class="rightCol-Profile-Follow">
            <% if is_following t %>
              Unfollow
            <% else %>
              Follow
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

<!-- Favorites -->
<% if @favorites.count > 0 %>
  <div class="rightCol-Filter">
    <div class="rightCol-Filter-Title">
      <div class="rightCol-Filter-Title-Name">
        <span aria-hidden="true" class="glyphicon glyphicon-heart"></span>
       	Favorites
      </div>

    <div class="rightCol-Filter-Title-Stat">
      <%= link_to "See more", favorites_path, :method => :get, :remote => true %>
    </div>

    </div>
    <% @favorites.each do |f| %>
      <div class="rightCol-Filter-Profile">
          <div class="rightCol-Profile-Avi text-userPic">
            <%= image_tag f.pic.url %>
          </div>


        <div class="rightCol-Profile-Bar">



        <!-- this should display the artist's name and link to their profile -->  
        <%= link_to f.owner  do %>     
          <div class="rightCol-Profile-Name">
            <%= f.owner.name %>
          </div>
        <% end %>


        <%= link_to f do %>          
          <div class="rightCol-Followers">
            <%= f.name %>
          </div>
        </div>

        <%= link_to f do %>
          <div class="rightCol-Profile-Follow">
            View
          </div>
        <% end %>
        <% end %>


      </div>
    <% end %>
  </div>
<% end %>
