<div class="col-md-3">
  <!-- Something? -->
  <div class="alert alert-warning alert-dismissible hidden-xs m-b-md" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <a class="alert-link" href="profile/index.html">Visit your profile!</a> Post new updates for your fans.
  </div>
  <!-- Home buttons -->
  <div class="list-group m-b-md">
    <%= link_to all_path, :class => "list-group-item" do %>
      <i class="fa fa-chevron-right pull-right text-muted" aria-hidden="true"></i>
      All Stream
    <% end %>
    <%= link_to posts_path, :class => "list-group-item" do %>
      <i class="fa fa-chevron-right pull-right text-muted" aria-hidden="true"></i>
      Posts
    <% end %>
    <%= link_to tracks_path, :class => "list-group-item" do %>
      <i class="fa fa-chevron-right pull-right text-muted" aria-hidden="true"></i>
      Tracks
    <% end %>
    <%= link_to cliques_path, :class => "list-group-item" do %>
      <i class="fa fa-chevron-right pull-right text-muted" aria-hidden="true"></i>
      Cliques
    <% end %>
    <%= link_to favorites_path, :class => "list-group-item" do %>
      <i class="fa fa-chevron-right pull-right text-muted" aria-hidden="true"></i>
      Favorites
    <% end %>
  </div>
  <!-- Top Artists -->
  <div class="panel panel-default m-b-md hidden-xs">
    <div class="panel-body">
      <h5 class="m-t-0">Top Artists  <small>· <%= link_to "See more", explore_path %></small></h5>
      <ul class="media-list media-list-stream">
        <% @top.each do |t| %>
          <li class="media m-b">
            <%= link_to t, :class => "media-left" do %>
              <%= image_tag t.profile_picture_url , class: "media-object img-circle" %>
            <% end %>
            <div class="media-body">
              <strong><%= t.name %></strong>
              <div class="media-body-actions">
                <% if current_user && current_user != t %>
                  <%= button_to user_follow_path(t), :remote => true, :class => "btn btn-primary-outline btn-sm" do %>
                    <% if is_following t %>
                      <i class="fa fa-user-plus" aria-hidden="true"></i>Following
                    <% else %>
                      <i class="fa fa-user-plus" aria-hidden="true"></i>Follow
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <!-- Favorites -->
  <% if @favorites.count > 0 %>
    <div class="panel panel-default m-b-md hidden-xs">
      <div class="panel-body">
        <h5 class="m-t-0">Favorites  <small>· <%= link_to "See more", favorites_path, :id=>"FavSeeMore", :remote => true %></small></h5>
        <ul class="media-list media-list-stream">
          <% @favorites.each do |f| %>
            <li class="media m-b">
              <%= link_to f, :class => "media-left" do %>
                <%= image_tag f.get_pic_url , class: "media-object img-circle" %>
              <% end %>
              <div class="media-body">
                <%= link_to f.owner  do %>
                  <strong><%= link_to f.name, f %></strong>
                <% end %>
                <%= f.owner.name %>
                <div class="media-body-actions">
                  <%= button_to f, :class => "btn btn-primary-outline btn-sm" do %>
                    <span class="fa fa-add-user"></span> View
                  <% end %>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <!-- Copyright -->
  <div class="panel panel-default m-b-md hidden-xs">
    <div class="panel-footer">
      © 2016 Cliq.fm About Help Terms Privacy Cookies Ads info Brand Blog Status
    </div>
  </div>
</div>
