<div class="buffer">
  <h1>Tracks</h1>
  <!-- No tracks to display -->
  <% if tracks.count == 0 %>
    <h3>You have no tracks to show!<br>
      Discover new Artists to follow at the <%= link_to "Explore Page", explore_path %></h3>
  <% else %>
    <!-- Displays each track on the list -->
    <% tracks.each do |track| %>
      <!-- TODO: Externalize this to a single common HTML file -->
      <p style="float:left;margin-left: 50px;clear:left;"><%= track.song.original_filename %> by </p><%= link_to track.owner.name, track.owner, class:"ownerlink" %>
      <%= link_to 'Play', track.song.url, class:"playa", 'data-skip-pjax' => true %>
      <!-- Delete Track -->
      <% if current_user && track.owner == current_user %>
        <%= button_to "Delete", track, :method => :delete, data: { confirm: 'Are you certain you want to delete this?' } %>
      <% end %>
    <% end %>
  <% end %>
</div>
