<div class="page-Bottom2">
	<div class="container2">
		<div id="right-col" class="rightCol-Index">
		  <%= render "right_col" %>
		</div>

	  <div class="leftCol">
	  	<div class="newsfeed-title">
				<%= link_to all_path, :method => :get, :remote => true do %>
					<div class="newsfeed-title1 newsfeed-active">
						All Stream
					</div>
				<% end %>
				<%= link_to tracks_path, :method => :get, :remote => true do %>
					<div class="newsfeed-title2">
						Tracks
					</div>
				<% end %>
				<%= link_to posts_path, :method => :get, :remote => true do %>
					<div class="newsfeed-title2">
						Posts
					</div>
				<% end %>
				<% if current_user %>
					<%= link_to cliques_path, :method => :get, :remote => true do %>
						<div class="newsfeed-title2">
						  Cliques
						</div>
					<% end %>
					<%= link_to favorites_path, :method => :get, :remote => true do %>
						<div class="newsfeed-title2">
						  Favorites
						</div>
					<% end %>
				<% end %>
			</div>
			<div id="home-content">
			  <%= render :partial => "all", :locals => { content: @content } %>
			</div>
		</div>
	</div>
</div>
