<!-- Left Column  -->
<div class="leftCol">
  <!-- Content -->
  <div id="content">
    <% if @content %>
      <% if @content.count == 0 %>
          <div class="no-post">
            <div class="no-post-img"></div>
            <% if @user == current_user %>
              You have not uploaded any tracks<br/>
              <%= link_to "Upload a new Track", new_track_path, :class => "btn no-post-btn btn-primary secondary-background" %>
            <% else %>
              <%= @user.first_name %> has not uploaded any tracks<br/>
              <%= link_to "Explore Artists", explore_path, :class => "btn no-post-btn btn-primary secondary-background" %>
            <% end %>
         </div>
      <% end %>
      <% @content.each do |t| %>
        <% if t.is_a? Track %>
          <%= render :partial => '/tracks/track', :locals => { :track => t } %>
        <% else %>
          <%= render :partial => '/tracks/retrack', :locals => { :retrack => t } %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
