<div class="panel-heading panel-heading-no-bottom">
  <div class="row" style="overflow: auto;">
    <%= button_to "Edit Clique", clique_settings_path, :method => :get, :class => "settings-tabs1" %>
    <%= button_to "Clique Members", clique_members_path, :method => :get, :class => "settings-tabs" %>
  </div>
</div>
<div class="panel-body">
  <%= form_for clique, :remote => true do |f| %>
    <%= f.label :name, "Clique Name (Optional) " %>
    <%= f.text_field :name, :class => "form-control" %><br>
    <!-- <%= f.label :price, "Monthly Subscription Price " %>
    <%= f.number_field :price, :step => 1.00 %><br> -->
    <%= f.label :description %><br>
    <%= f.text_area :description, :cols => '50', :rows => '5', :class => "form-control" %><br>
    <%= f.label :thank_you_message, "Thank You Message (Optional)" %><br>
    <%= f.text_area :thank_you_message, :cols => '50', :rows => '5', :class => "form-control" %><br>
    <%= f.submit "Update Clique", :class => "btn btn-primary secondary-background" %>
  <% end %>
</div>
