<div class="centerCol">


        <div id="player1" class="playerGUI">
            <div id="videoPlayer"></div>
            <div class="playerScreen">
                <a tabindex="1" href="#" class="video-play"></a>
            </div>
            <div class="controls">
                <div class="leftblock">
                    <a tabindex="1" href="#" class="play smooth"></a>
                    <a tabindex="1" href="#" class="pause smooth"></a>
                </div>
                <div class="play-progress">
                    <span>Tomorrowland 2013 - Aftermovie</span>
                    <div class="progressbar">
                        <div class="seekBar">
                            <div class="playBar"></div>
                        </div>
                    </div>
                    <div class="time current">00:00</div>
                    <div class="time duration">00:00</div>
                </div>
                <div class="rightblock">
                    <div class="volumeBar">
                        <div class="currentVolume"><div class="curvol"></div></div>
                    </div>
                    <a class="volumeText">Volume: 50</a>
                    <a href="#" tabindex="1" class="fullScreen smooth"></a>
                    <a href="#" tabindex="1" class="fullScreenOFF smooth"></a>
                </div>
            </div>
        </div>








  <div class="pin-show-title">
    <h1>
      <%= "#{@pin.user.username} - #{@pin.name}" %>
    </h1>
  </div>
  <div id="pin_show">
    <div class="rightCol">
      <div class="rightCol-price">
        <div class="mh">
          <%= number_to_currency(@pin.price) %>
        </div>
      </div>
      <%= render 'form' %>
      <div class="rightCol-description">
        <p class="description">
          <%= simple_format(@pin.description) %>
        </p>
      </div>
    </div>
    <div class="leftCol">
      <div class="panel panel-default">
        <div class="panel-heading pin_image mh">
          <%= image_tag @pin.image.url %>
        </div>
        <div class="panel-footer footer-show">
          <div class="row">
            <div class="col-md-6">
              <p class="user">
                Submitted by
                <%= link_to @pin.user.username, @pin.user %>
              </p>
            </div>
            <div class="col-md-6">
              <div class="btn-group pull-right mh">
                <%= link_to "View more kits", @pin.user, class: "btn btn-default" %>
                <!--- if user_signed_in?
                -->
                <!--  = link_to "Edit", edit_pin_path, class: "btn btn-default"
                -->
                <!--  = link_to "Delete", pin_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default"
                -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

        <script type="text/javascript">
            $(document).ready(function() {

                var media = { mp3: '<%= @pin.mp3.url %>' }
                var options = {

                    ready: function () {
                        $(this).jPlayer("setMedia", media);
                    },

                    // Extra Settings
                    swfPath: "/images/jplayer.swf",
                    supplied: 'mp3',
                    solution: 'html, flash',
                    volume: 0.5,
                    size: size,
                    smoothPlayBar: false,
                    keyEnabled: true,

                    // CSS Selectors
                    cssSelectorAncestor: '.playerGUI',
                    cssSelector: {
                        videoPlay: ".video-play",
                        play: ".play",
                        pause: ".pause",
                        seekBar: ".seekBar",
                        playBar: ".playBar",
                        volumeBar: ".currentVolume",
                        volumeBarValue: ".currentVolume .curvol",
                        currentTime: ".time.current",
                        duration: ".time.duration",
                        fullScreen: ".fullScreen",
                        restoreScreen: ".fullScreenOFF",
                        gui: ".controls",
                        noSolution: ".noSolution"
                    },

                    error: function(event) {
                        if(ready && event.jPlayer.error.type === $.jPlayer.error.URL_NOT_SET) {
                            // Setup the media stream again and play it.
                            $(this).jPlayer("setMedia", media).jPlayer('play');
                        }
                    },

                    play: function() {
                        $('#player1 .video-play').fadeOut();
                        $(this).on('click', function() { $('#player1').jPlayer('pause');});
                        $(this).jPlayer("pauseOthers");
                    },

                    pause: function() {
                        $('#player1 .video-play').fadeIn();
                        $('#player1 .playerScreen').unbind('click');
                    },

                    volumechange: function(event) {
                        if(event.jPlayer.options.muted) {
                            $('#player1 .currentVolume').val(0);
                        } else {
                            $('#player1 .currentVolume').val(event.jPlayer.options.volume);
                        }
                    },

                    timeupdate: function(event) {
                        $('#player1 .seekBar').val(event.jPlayer.status.currentPercentRelative);
                    },

                    ended: function() {
                        $(this).jPlayer("setMedia", media);
                    }


                };

                // Create the volume slider control
                $('#player1 .currentVolume').slider({
                    range: [0, 1],
                    step: 0.01,
                    start : 0.5,
                    handles: 1,
                    slide: function() {
                        var value = $(this).val();
                        $(mainPlayer).jPlayer("option", "muted", false);
                        $(mainPlayer).jPlayer("option", "volume", value);
                        $('#player1 .volumeText').html('Volume: ' + (value * 100).toFixed(0) + '');
                    }
                });

                $('#player1 .seekBar').slider({
                    range: [0,100],
                    step: 0.01,
                    start: 0,
                    handles: 1,
                    slide: function() {
                        var value = $(this).val();
                        $('#player1').jPlayer("playHead", value);
                    }
                });

                // Initialize Player
                $('#player1').jPlayer(options);

            });
        </script>