
  <!-- Content -->
    <% if @content.count == 0 %>
      <div class="no-post">
        <div class="no-post-img"></div>
          <% if @user == current_user %>
            You have no content to show<br/>
            <%= link_to "Upload a new Track", new_track_path, :class => "btn no-post-btn btn-primary secondary-background" %>
          <% else %>
            <%= @user.first_name %> has not uploaded any content<br/>
            <%= link_to "Explore Artists", explore_path, :class => "btn no-post-btn btn-primary secondary-background" %>
          <% end %>
      </div>
    <% end %>
    <% @content.each do |c| %>
      <% if c.is_a? Post %>
        <%= render :partial => '/posts/post', :locals => { :post => c } %>
      <% elsif c.is_a? Repost %>
        <%= render :partial => '/posts/repost', :locals => { :repost => c } %>
      <% elsif c.is_a? Track %>
        <%= render :partial => '/tracks/track', :locals => { :track => c } %>
      <% else %>
        <%= render :partial => '/tracks/retrack', :locals => { :retrack => c } %>
      <% end %>
    <% end %>

