<!-- Content Filters -->
<%= link_to user_all_path(user) do %>
  <div class="<%= @partial == 'all' ? 'stats2 stats-active' : 'stats2' %>">
    All Stream
  </div>
<% end %>
<%= link_to user_posts_path(user) do %>
  <div class="<%= @partial == 'posts' ? 'stats2 stats-active' : 'stats2' %>">
    Posts
  </div>
<% end %>
<%= link_to user_tracks_path(user) do %>
  <div class="<%= @partial == 'tracks' ? 'stats2 stats-active' : 'stats2' %>">
    Tracks
  </div>
<% end %>
<!-- Own profile -->
<% if @user == current_user %>
  <% if @user.clique %>
    <%= link_to user_clique_path(user) do %>
      <div class="<%= @partial == 'clique' ? 'stats2 stats-active' : 'stats2' %>">
        Clique
      </div>
    <% end %>
  <% end %>
  <%= link_to user_followers_path(user) do %>
    <div class="<%= @partial == 'followers' ? 'stats2 stats-active' : 'stats2' %>">
      Followers
    </div>
  <% end %>
  <%= link_to user_following_path(user) do %>
    <div class="<%= @partial == 'following' ? 'stats2 stats-active' : 'stats2' %>">
      Following
    </div>
  <% end %>
  <div class="edit-Profile">
    <%= button_to "Edit Profile", edit_profile_path, :class => "btn-hollow btn m-r-5"  %>
  </div>
<% elsif current_user %>
<!-- Others profile -->
  <!-- Follow -->
  <% if is_following @user %>
    <%= button_to "Unfollow", user_follow_path(user), :remote => true, :class => "btn-hollow btn m-r-5"  %>
  <% else %>
    <%= button_to "Follow", user_follow_path(user), :remote => true, :class => "btn-hollow btn m-r-5"  %>
  <% end %>

  <% if is_following current_user, @user %>
    <%= link_to "Message", user_message_path(user), :remote => true, :class => "btn-hollow btn "  %>
  <% end %>
  <!-- Clique-->
  <% if @user.clique %>
    <% if user.clique.is_subscribed?(current_user) %>
      <div class="<%= @partial == 'clique' ? 'stats2 stats-active' : 'stats2' %>">
          <%= link_to "Clique", user_clique_path(user) %>
      </div>
    <% end %>
  <% end %>
<% end %>
