<!-- Content Filters -->
<%= link_to user_all_path(user), :method => :get, :remote => true do %>
  <div class="stats1 stats-active">
    All Stream
  </div>
<% end %>
<%= link_to user_posts_path(user), :method => :get, :remote => true do %>
  <div class="stats2">
    Posts
  </div>
<% end %>
<%= link_to user_songs_path(user), :method => :get, :remote => true do %>
  <div class="stats2">
    Tracks
  </div>
<% end %>
<%# button_to "Reposts", user_reposts_path(user), :method => :get, :remote => true %>
<!-- Own profile -->
<% if @user == current_user %>
  <% if @user.clique %>
    <%= link_to user_clique_path(user), :method => :get, :remote => true do %>
      <div class="stats2">
        Clique
      </div>
    <% end %>
  <% end %>
  <%= link_to user_followers_path(user), :method => :get, :remote => true do %>
    <div class="stats2">
      Followers
    </div>
  <% end %>
  <%= link_to user_following_path(user), :method => :get, :remote => true do %>
    <div class="stats2">
      Following
    </div>
  <% end %>
  <div class="edit-Profile">
    <%= button_to "Edit Profile", edit_profile_path, :method => :get, :class => "btn-hollow btn"  %>
  </div>


  <% if !@user.clique %>
    <!--<%= button_to "Create Clique", clique_settings_path, :method => :get, :class => "button btn btn-info btn-lg btn-primary btn" %>-->
  <% end %>



<% elsif current_user %>
<!-- Others profile -->
  <!-- Follow -->
  <% if is_following @user %>
    <%= button_to "Unfollow", user_follow_path(user), :remote => true, :class => "btn-hollow btn"  %>
  <% else %>
    <%= button_to "Follow", user_follow_path(user), :remote => true, :class => "btn-hollow btn"  %>
  <% end %>

  <% if is_following current_user, @user %>
    <%= button_to "Message", user_message_path(user), :method => :get, :remote => true, :class => "btn-hollow btn"  %>
  <% end %>
  <!-- Clique-->
  <% if @user.clique %>
    <% if current_user.cliques.include? user.clique %>
      <div class="stats2">
          <%= link_to "Clique", user_clique_path(user), :method => :get, :remote => true %>
      </div>
    <% end %>
  <% end %>
<% end %>
