<div class="rightBlock">
  <div class="right-Stats">
    <div class="right-Stat1">
      <div class="right-Stat-Top">
        Posts
      </div>
      <div class="right-Stat-Bottom">
        <%= user.posts.select{|post| !post.removed }.size %>
      </div>
    </div>
    <div class="right-Stat2">
      <div class="right-Stat-Top">
        Tracks
      </div>
      <div class="right-Stat-Bottom">
        <%= user.tracks.select{|track| !track.removed }.size %>
      </div>
    </div>
    <div class="right-Stat3">
      <div class="right-Stat-Top">
        Followers
      </div>
      <div class="right-Stat-Bottom">
        <%= user.followers.count %>
      </div>
    </div>
  </div>
</div>

<% if current_user && user != current_user && user.clique %>
  <div class="rightBlock">
    <h5 class="rightCol-Clique-Title">
        Exclusive Clique Perks
    </h5>
    <div class="rightBlock-Body">
       <%= user.clique.description %>
    </div>
    <% if user.clique.is_subscribed?(current_user) %>
      <%= link_to cliq_leave_path(user.clique), :method => :post, :remote => true do %>
        <div class="right-Clique-Btn main-btn">
          Leave Clique
        </div>
      <% end %>
    <% else %>
      <%= link_to cliq_payment_path(user.clique) do %>
        <div class="right-Clique-Btn main-btn">
          Join Clique
        </div>
      <% end %>
    <% end %>
  </div>
<% elsif user == current_user && !user.clique %>
  <div class="rightBlock">
    <%= link_to clique_settings_path do %>
      <div class="right-Clique-Btn">
        Create your clique
      </div>
    <% end %>
  </div>
<% end %>

<% if @top_fans.count > 0 %>
  <h3>Top Fans</h3>
  <% @top_fans.each do |follow| %>
    <%= link_to follow.follower.name,  follow.follower %>
    <br/>
    <%= follow.fan_ranking_points %> Points
    <br/> <br/>
  <% end %>
<% end %>

<% if @top_follows.count > 0 %>
  <h3>Favourite Artists</h3>
  <% @top_follows.each do |follow| %>
    <%= link_to follow.following.name,  follow.following %>
    <br/>
    <%= follow.fan_ranking_points %> Points
    <br/> <br/>
  <% end %>
<% end %>
