<div class="rightBlock">
  <div class="right-Stats">
    <div class="right-Stat1">
      <div class="right-Stat-Top">
        Posts
      </div>
      <div class="right-Stat-Bottom">
        <%= user.posts.select{|post| !post.removed }.size %>
      </div>
    </div>
    <div class="right-Stat2">
      <div class="right-Stat-Top">
        Tracks
      </div>
      <div class="right-Stat-Bottom">
        <%= user.tracks.select{|track| !track.removed }.size %>
      </div>
    </div>
    <div class="right-Stat3">
      <div class="right-Stat-Top">
        Followers
      </div>
      <div class="right-Stat-Bottom">
        <%= user.followers.count %>
      </div>
    </div>
  </div>
</div>

<% if current_user && user != current_user && user.clique %>
  <div class="rightBlock">
    <h5 class="rightCol-Clique-Title">
        Exclusive Clique Perks
    </h5>
    <div class="rightBlock-Body">
       <%= user.clique.description %>
    </div>
    <% if user.clique.is_subscribed?(current_user) %>
      <%= button_to cliq_leave_path(user.clique), :method => :post do %>
        <div class="right-Clique-Btn">
          Leave Clique
        </div>
      <% end %>
    <% else %>
      <%= button_to cliq_join_path(user.clique), :method => :post do %>
        <div class="right-Clique-Btn">
          Join Clique
        </div>
      <% end %>
    <% end %>
  </div>
<% elsif user == current_user && !user.clique %>
  <div class="rightBlock">
    <%= link_to clique_settings_path, :method => :get do %>
      <div class="right-Clique-Btn">
        Create your clique
      </div>
    <% end %>
  </div>
<% end %>
