<li class="media list-group-item p-a post-modal">
  <%= link_to "", post_load_modal_path(post), :remote => true, :method => :post, :class => "comments-link" %>
  <%= link_to post.poster, :class => "media-left over-comments-link" do %>
    <%= image_tag post.poster.profile_picture_url, :class => "media-object img-circle" %>
  <% end %>
  <div class="media-body">
    <div class="media-body-text">
      <div class="media-heading">
       <% if post.favoriters.include? current_user %>
        <small class="pull-right redclass">
        <span class="glyphicon glyphicon-heart glyphicon-small redclass" aria-hidden="true"></span> <%= post.favoriters.count %></small>
        <% else %>
          <small class="pull-right text-muted">
          <span class="glyphicon glyphicon-heart glyphicon-small" aria-hidden="true"></span> <%= post.favoriters.count %></small>
        <% end %>
        <%= yield :title %>
      </div>
      <p>
        <%= show_mentions(post.content, post.mentions).html_safe %>
      </p>
    </div>
    <% if current_user %>
      <div class="button-popup ">
        <!-- Favorite / Unfavorite button -->
        <% if post.favoriters.include? current_user %>
          <%= link_to post_favorite_path(post), :remote => true, :method => :post do %>
            <div class="glyphicon glyphicon-heart redclass" aria-hidden="true"></div>
          <% end %>
        <% else %>
          <%= link_to post_favorite_path(post), :remote => true, :method => :post do %>
            <div class="glyphicon glyphicon-heart" aria-hidden="true"></div>
          <% end %>
        <% end %>
      	<% if post.poster == current_user %>
            <!-- Delete button -->
      			<%= link_to post_delete_path(post), :remote => true, :method => :post do %>
      				<div class="glyphicon glyphicon-trash" aria-hidden="true"></div>
      			<% end %>
      	<% else %>
          <!-- Repost / Unrepost button -->
      		<% if !post.clique_only %>
      			<% if current_user.has_reposted? post %>
      				<%= link_to post_repost_path(post), :remote => true, :method => :post do %>
      					<div class="glyphicon glyphicon-refresh greenclass" aria-hidden="true"></div>
      				<% end %>
      			<% else %>
      				<%= link_to post_repost_path(post), :remote => true, :method => :post do %>
      					<div class="glyphicon glyphicon-refresh" aria-hidden="true"></div>
      				<% end %>
      			<% end %>
      		<% end %>
      	<% end %>
        <!-- Share button
        <% if !post.clique_only %>
          <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
        <% end %>-->
      </div>
    <% end %>
  </div>
</li>
