<% if current_user %>
  <div class="post-Comment">
    <div class="user-avi1">
      <%= link_to image_tag(current_user.profile_picture_url), current_user %>
    </div>
    <%= form_for PostComment.new, :remote => true,  :html => { :id => "comment-form#{post.id}" } do |form| %>
      <%= form.hidden_field :post_id, :value => post.id %>
      <%= form.text_field :content, :placeholder => "Comment" %>
      <!--<div class="player1-btn">
        <span class="glyphicon glyphicon-comment" aria-hidden="true" onclick='$("#comment-form<%= post.id %>").submit();' >
        </span>
      </div>-->
    <% end %>
  </div>
<% end %>
