<div class="modal-textpost">
  <%= link_to @post.owner do %>
    <%= image_tag @post.owner.profile_picture_url, :class => "media-object img-circle modal-closable" %>
  <% end %>
  <div class="media-body">
    <div class="media-body-text">
      <div class="media-heading">
        <small class="pull-right text-muted">• <%= time_ago_in_words @post.created_at %></small>
        <h5><%= link_to @post.owner.name, @post.owner %></h5>
      </div>
      <p>
        <%= show_mentions(@post.content, @post.mentions).html_safe %>
      </p>
    </div>
  </div>
</div>
<%= render :partial => 'comments/comment_form', :locals => { :commentable => @post } %>
<div id="<%= comment_form_id @post %>" class="modal-post-commentBox">
  <!-- Comments -->
  <%= render :partial => 'comments/comments_list', :locals => { :commentable => @post } %>
</div>
