<div class="textpost-Box">
	<div class="textpost">
		<div class="text-Post">
      <div class="text-userPic">
        <img src="<%= post.poster.profile_picture_url %>">
      </div>
      <div class="commentSection-name">
        <div class="comment-time"><%= time_ago_in_words post.created_at %></div>
        <%= link_to post.poster.name, post.poster %>
      </div>
      <div class="post-Content">
        <%= post.content %>
      </div>
		</div>
		<div class="player1-right-btn2">
			<% if post.poster == current_user %>
				<!-- Buttons to show owner -->
					<%= button_to post_delete_path(post), :remote => true, :class => "player1-btn2" do %>
						<div class="glyphicon glyphicon-trash"></div>
					<% end %>



			<% elsif current_user %>
				<% if !post.clique_only %>
					<!-- Buttons to show everyone else -->
					<div class="player1-btn">
						<% if current_user.reposts.include? post %>
							<!-- Un-repost button -->
							<%= link_to "", post_repost_path(post), :remote => true, :class => "glyphicon glyphicon-refresh", :method => :post %>
						<% else %>
							<!-- Repost button -->
							<%= link_to "", post_repost_path(post), :remote => true, :class => "glyphicon glyphicon-refresh", :method => :post %>
						<% end %>
					</div>
			  	<div class="player1-btn">
						<% if post.favoriters.include? current_user %>
              <!-- Unfavorite button -->
  						<%= link_to "", post_favorite_path(post), :remote => true, :class => "glyphicon glyphicon-heart", :method => :post %>
  					<% else %>
              <!-- Favorite button -->
  						<%= link_to "", post_favorite_path(post), :remote => true, :class => "glyphicon glyphicon-heart", :method => :post %>
  					<% end %>
	      	</div>
				<% end %>
			<% end %>
			<div class="player1-btn">
				<span class="glyphicon glyphicon-share" aria-hidden="true"></span>
			</div>
			<div class="player1-btn" data-toggle="modal" data-target="#modal<%= post.id %>">
				<span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
			</div>
		</div>
 	</div>
	<% if current_user %>
		<div id="pc<%= post.id%>">
			<%= render :partial => 'posts/comment_form', :locals => { :post => post } %>
		</div>
	<% end %>
</div>

<!-- Modal -->
<div class="modal fade" id="modal<%= post.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
  		<div class="modal-textpost">
    		<div class="text-Post">
      		<div class="text-userPic">
        		<img src="<%= post.poster.profile_picture_url %>">
      		</div>
		      <div class="commentSection-name">
		        <div class="comment-time"><%= time_ago_in_words post.created_at %></div>
		        <%= link_to post.poster.name, post.poster %>
		      </div>
	        <div class="post-Content">
	          <%= post.content %>
	        </div>
    		</div>
    	</div>
			<div id="comments<%= post.id %>">
			  <!-- Comments -->
				<%= render :partial => 'posts/comment_form', :locals => { :post => post} %>
				<%= render :partial => 'posts/comments', :locals => { :post => post} %>
			</div>









	  </div>
  </div>
</div>
