<div class="textpost-Box">
	<div class="text-Top">
		<div class="text-userPic">
			<img src="<%= post.poster.profile_picture_url %>">
		</div>
		<div class="text-profileName">
			<%= link_to post.poster.name, post.poster %>
		</div>
		<div class="text-Date">
			<%= time_ago_in_words post.created_at %>
		</div>
	</div>
	<div class="text-Middle">
		<div class="text-text">
			<%= post.content %>
		</div>
	</div>

	<div class="text-Bottom">
		<div class="player1-right-btn2">
			<% if current_user %>
				<% if post.poster == current_user %>
					<!-- Buttons to show owner -->
					<div class="player1-btn2">
						<%= button_to "Delete", post_delete_path(post), :remote => true %>
					</div>
				<% elsif !post.clique_only %>
					<% if current_user.reposts.include? post %>
						<!-- Un-repost button -->
						<div class="player1-btn">
							<%= link_to "", post_repost_path(post), :remote => true, :class => "glyphicon glyphicon-refresh", :method => :post %>
						</div>
					<% else %>
						<!-- Repost button -->
						<div class="player1-btn">
							<%= link_to "", post_repost_path(post), :remote => true, :class => "glyphicon glyphicon-refresh", :method => :post %>
						</div>
					<% end %>
				<% end %>
				<div class="player1-btn">
					<%= link_to "", post_favorite_path(post), :remote => true, :class => "glyphicon glyphicon-heart", :method => :post %>
				</div>
			<% end %>
		</div>
	</div>
	<!-- Comments -->
	<div id="comments<%= post.id %>">
		<%= render :partial => 'posts/comments', :locals => { :post => post} %>
		<%= render :partial => 'posts/comment_form', :locals => { :post => post} %>
	</div>
</div>
