<% post = repost.post %>
<li class="media list-group-item p-a post-modal" data-toggle="modal" data-target="#modal<%= post.id %>">
  <a class="media-left" href="#">
    <img
      class="media-object img-circle"
      src="<%= post.poster.profile_picture_url %>">
  </a>
  <div class="media-body">
    <div class="media-body-text">
      <div class="media-heading">
       <% if post.favoriters.include? current_user %>
        <small class="pull-right redclass">
        <span class="glyphicon glyphicon-heart glyphicon-small redclass" aria-hidden="true"></span> <%= post.favoriters.count %></small>
        <% else %>
          <small class="pull-right text-muted">
          <span class="glyphicon glyphicon-heart glyphicon-small" aria-hidden="true"></span> <%= post.favoriters.count %></small>
        <% end %>
        <h5><%= link_to post.poster.name, post.poster %> <div class="glyphicon glyphicon-refresh greenclass"></div> <%= link_to repost.reposter.name, repost.reposter %>  <small> · <%= time_ago_in_words post.created_at %></small></h5>
      </div>
      <p>
        <%= post.content %>
      </p>
    </div>
    <div class="button-popup ">
      <% if current_user %>
        <!-- Favorite / Unfavorite button -->
        <% if post.favoriters.include? current_user %>
          <%= link_to post_favorite_path(post), :remote => true, :method => :post do %>
            <div class="glyphicon glyphicon-heart redclass" aria-hidden="true"></div>
          <% end %>
        <% else %>
          <%= link_to post_favorite_path(post), :remote => true, :method => :post do %>
            <div class="glyphicon glyphicon-heart" aria-hidden="true"></div>
          <% end %>
        <% end %>
      	<% if post.poster == current_user %>
            <!-- Delete button -->
      			<%= link_to post_delete_path(post), :remote => true, :method => :post do %>
      				<div class="glyphicon glyphicon-trash" aria-hidden="true"></div>
      			<% end %>
      	<% else %>
          <!-- Repost / Unrepost button -->
      		<% if !post.clique_only %>
      			<% if current_user.has_reposted? post %>
      				<%= link_to post_repost_path(post), :remote => true, :method => :post do %>
      					<div class="glyphicon glyphicon-refresh greenclass" aria-hidden="true"></div>
      				<% end %>
      			<% else %>
      				<%= link_to post_repost_path(post), :remote => true, :method => :post do %>
      					<div class="glyphicon glyphicon-refresh" aria-hidden="true"></div>
      				<% end %>
      			<% end %>
      		<% end %>
      	<% end %>
      <% end %>
      <!-- Share button
      <% if !post.clique_only %>
        <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
      <% end %>-->
    </div>
  </div>
</li>

<!-- Modal -->
<!-- TODO: Make this more efficient by having a single modal -->
<!-- TODO: Cleanup the mess of code -->
<div class="modal fade" id="modal<%= post.id %>" tabindex="-1" role="dialog" aria-labelledby="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-textpost">
          <a class="media-left" href="#">
            <img
              class="media-object img-circle"
              src="<%= post.poster.profile_picture_url %>">
          </a>
          <div class="media-body">
            <div class="media-body-text">
              <div class="media-heading">
                <small class="pull-right text-muted">• <%= time_ago_in_words post.created_at %></small>
                <h5><%= link_to post.poster.name, post.poster %></h5>
              </div>
              <p>
                <%= post.content %>
              </p>
            </div>
          </div>
      </div>
      <%= render :partial => 'comments/comment_form', :locals => { :commentable => post } %>
      <div id="<%=comment_form_id (post) %>" class="modal-post-commentBox">
        <!-- Comments -->
        <%= render :partial => 'comments/comments_list', :locals => { :commentable => post } %>
      </div>
    </div>
  </div>
</div>


<script>
$(document).ready(function(){
    $('h5').click(function(e) {
        e.stopPropagation();
    });
});
</script>
