!!! 5
%html
%head
  %title MajorKit
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"
  = csrf_meta_tags

%meta{:content => "width=device-width, initial-scale=1, , minimal-ui", :name => "viewport"}/
%meta{:charset => "utf-8"}/
%link{:href => "//fonts.googleapis.com/css?family=Open+Sans:400,600,700,300", :rel => "stylesheet", :type => "text/css"}/

:javascript
  $(document).ready(function(){
    $("#jquery_jplayer_1").jPlayer({
      ready: function () {
        $(this).jPlayer("setMedia", {
          mp3: "#{@pin.mp3.url}",
        });
      },
      cssSelectorAncestor: "#jp_container_1",
      swfPath: "/js",
      supplied: "mp3",
      useStateClassSkin: true,
      autoBlur: false,
      smoothPlayBar: true,
      keyEnabled: true,
      remainingDuration: true,
      toggleDuration: true
    });
  });





%body
  %nav.navbar.navbar-default.navbar-fixed-top
    .container
      .navbar-header
        %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        .navbar-brand= link_to "MajorKit", root_path
      #navbar.navbar-collapse.collapse
        %ul.nav.navbar-nav
        - if user_signed_in?
          %ul.nav.navbar-nav.navbar-right
            %li= link_to "Upload", new_pin_path
            %li.dropdown
              %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                Account
                %span.caret
              %ul.dropdown-menu
                %li= link_to "Profile", user_pins_path
                %li= link_to "Settings", edit_user_registration_path
                %li= link_to "Sign Out", destroy_user_session_path, method: :delete


        - else
          %ul.nav.navbar-nav.navbar-right
            %li= link_to "Sign Up", new_user_registration_path
            %li= link_to "Log In", new_user_session_path, class: "button btn primary-background login-btn"


.container
  = yield

