<!DOCTYPE html>
<html>
<head>
  <title>Clique</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- Bottom Player -->
  <%= render :partial => "shared/player" %>
<!-- Content -->
<div data-pjax-container>
  <!-- Navbar --->
  <%= render :partial => "shared/navbar" %>
  <!-- Flash Box -->
  <%= render :partial => "shared/flash_box" %>
  <%= yield %>
</div>
</body>
</html>
