<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, , minimal-ui">
    <title>Cliq | Experience The Music</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  <link href='//fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'>
  <!-- <script src="https://use.typekit.net/qdb2kmm.js"></script> -->
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= favicon_link_tag 'favicon-16.png', :size=>'16' %>
  <%= favicon_link_tag 'favicon-32.png', :size=>'32' %>
  <%= favicon_link_tag 'favicon-96.png', :size=>'96' %>
  </head>
  <body class="with-top-navbar">
    <!-- Navbar -->
    <%= render :partial => "shared/navbar" %>
    <!-- Bottom Player -->
    <%= render :partial => "shared/player" %>
    <!-- Download Song-->
    <%#= render :partial => "shared/downloadUI" %>
    <!-- Content -->
    <div data-pjax-container id="pjax-container">
      <!-- Flash Box -->
      <!--<%= render :partial => "shared/flash_box" %>-->
      <%= yield %>
    </div>
    <%= render :partial => 'shared/messages_modal' %>
    <%= render :partial => 'shared/comments_modal' %>
    <!-- Stripe -->
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript">
      Stripe.setPublishableKey("<%= ENV['CLIQUE_STRIPE_PUBLISHABLE'] %>");
    	function stripeResponseHandler(status, response) {
    	  var $form = $('#payment-form');
    	  if (response.error) { // Problem!
    	    $form.find('.payment-errors').text(response.error.message);
    	    $form.find('.submit').prop('disabled', false); // Re-enable submission
    	  } else { // Token was created!
    	    var token = response.id;
    	    // Insert the token ID into the form so it gets submitted to the server:
    	    $form.append($('<input type="hidden" name="stripeToken">').val(token));
    	    // Submit the form:
    	    $form.get(0).submit();
    	  }
    	};

    	$(function() {
    	  var $form = $('#payment-form');
    	  $form.submit(function(event) {
    	    // Disable the submit button to prevent repeated clicks:
    	    $form.find('.submit').prop('disabled', true);
    	    // Request a token from Stripe:
    	    Stripe.card.createToken($form, stripeResponseHandler);
    	    // Prevent the form from being submitted:
    	    return false;
    	  });
    	});
    </script>
  </body>
</html>
